*{
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4{
    font-family: 'Playfair Display', serif;
}
.containers{
    width: 85%;
    margin: auto;
}
@media(max-width:1200px){
   .containers{
    width: 90%;
    margin: auto;
   }
}
/*navbar*/
.navbar-section{
    background-color: #0e0e0e;
    padding: 20px 0px;
}
.navbar-container{
    padding: 0px 30px;
}
.custom-nav-link{
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    padding-right: 15px !important;
}
.custom-nav-link:hover{
    color: #FF6F61 !important; 
    transition: 1s ease;
}
.nav-icon-content{
    display: flex;
    color: #fff;
    justify-content: end;
}

.nav-dropdown{
    position: relative;
}
.dropdown-menu-custom{
    display: none;
    position: absolute;
    top: 20;
    left: 0;
    background-color: #fff;
    min-width: 220px;
    padding: 15px 25px;
    list-style: none;
    z-index: 999;
    border-radius: 6px;
}

.dropdown-menu-custom li{
    padding: 8px 0px;
    font-weight: 500;
}
.dropdown-menu-custom li:hover{
    color: #FF6F61;
    cursor: pointer;
    transition: 1s ease;
}
.nav-dropdown:hover .dropdown-menu-custom{
    display: block;
}
.dropdown-items-link{
    text-decoration: none;
    list-style: none;
    color: #000000;
}
.dropdown-items-link:hover{
    color: #FF6F61;
    cursor: pointer;
    transition: 1s ease;
}

.search-icon,
.shop-icon,
.bar-icon{
    font-size: 25px;
    padding: 0px 15px;
}
.search-icon,
.shop-icon{
    border-right:  1px solid #fff;
}

/*footer*/
.footer-section{
    background-color: #0e0e0e;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 20px;
}
.footer-info-ul{
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}
.footer-info-ul li{
    display: flex;
    color: #fff;
    gap: 10px;
    align-items:start;
    padding: 10px 0px;
}
.footer-info-icon{
    color: #FF6F61;
    font-size: 20px;
}

.footer-headings {
    position: relative;
    font-family: Melodrama;
    color: #fff;
    padding-bottom: 15px;
}

.footer-headings::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;             
    height: 1.5px;         
    background-color: #fff;
}
.quicklink-ul{
    list-style: none;
    padding: 10px;
}
.quicklink-ul li{
    padding: 10px 0px;
    font-weight: 500;
}
.copyright-content{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid #fff;
}
.social-ul{
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 10px;
}
.social-ul li{
    border: 1px solid #fff;
    width: fit-content;
    padding: 3px 8px 8px 10px;
    border-radius: 50%;
    font-size: 20px;
}
@media(max-width:576px){
    .footer-section {
        padding-top: 50px;
    }
    .copyright-content{
        display: flex;
        flex-direction: column;
    }
    .social-ul{
        margin-top: 15px;
    }
}

/*Home Page*/
/*home hero section*/
.home-hero-section{
    background: url("/image/home/hero-bg.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
    position: relative;
}
.home-containers{
    padding-left: 30px;
    padding-right: 30px;
}
.home-hero-section::before{
    /* position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0e0e0e;
    opacity: 0.9; */
}
.hero-left{
    position: relative;
    z-index: 1;
}
.logo-img-div{
    display: flex;
    justify-content: center;
}
.h1-one{
    font-family: Melodrama;
    color: #fff;
    font-size: 105px;
    margin-left: 15px;
    margin-right: -260px;

}
.h1-two{
    font-family: Melodrama;
    color: #fff;
    font-size: 105px;
    margin-left: 300px;
    margin-right: -485px;
}
.hero-right-img{
    width: 100%;
    border-radius: 8px;
    position: relative;
    z-index: 0 ;
}
.bottom-image{
    padding-right: 50px;
}
.hero-bottom-img{
    width: 100%;
    border-radius: 10px;
}
.hero-form{
    display: flex;
    align-items: center;
    /* width: 100%; */
    gap: 25px;
}
.hero-form .hero-form-input{
    /* width: 100%; */
    width: 300px;
    background: none;
    padding: 15px 20px;
    border-radius: 8px;
    border:  1px solid #fff;
}
.hero-form-input::placeholder{
    color: #fff;
}
.hero-send-btn{
    background-color: #FF6F61;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
}
@media(max-width:1200px){
    .h1-one{
        font-size: 80px;
        margin-left: 15px;
        margin-right: -260px;

    }
    .h1-two{
        font-size: 80px;
        margin-left: 120px;
        margin-right: -485px;
    }
    .hero-form .hero-form-input{
        width: 180px;
    }
    .bottom-image{
        padding-right: 0px;
    }
}
@media(max-width:992px){
    .logo-img-div{
        display: flex;
        justify-content: start;
    }
    .h1-one{
        font-size: 60px;
        margin-left: 0px;
        margin-right: 0px;

    }
    .h1-two{
        font-size: 60px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media(max-width:768px){
    .logo-img-div{
        display: flex;
        justify-content: start;
    }
    .h1-one{
        font-size: 40px;
        margin-left: 0px;
        margin-right: 0px;

    }
    .h1-two{
        font-size: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .hero-form{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:576px){
    .logo-img-div{
        display: flex;
        justify-content: start;
    }
    .h1-one{
        font-size: 30px;
        margin-left: 0px;
        margin-right: 0px;

    }
    .h1-two{
        font-size: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
/*home animation section*/
.home-animation-section{
    background-color: #FFF6EF;
    padding: 50px 0px;
    overflow: hidden;
}
.animation-view-content {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.scroll-text{
    display: inline-flex;
    align-items: center;
    gap: 30px;
    animation: scrollLeft 50s linear infinite;
}
@keyframes scrollLeft{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
.scroll-text span{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Melodrama',serif;
    padding-right: 80px;
}
.scroll-text span::after{
    content: "";
    position: absolute;
    right: 0;
    top: 40%;
    width: 10px;
    height: 10px;
    background-color: #0e0e0e;
    border-radius: 50%;
}
@media (max-width: 768px) {
  .scroll-text {
    animation-duration: 30s;
  }
  .home-animation-section{
        background-color: #FFF6EF;
        padding: 30px 0px;
    }

  .scroll-text span {
    font-size: 20px;
  }
}

/*home offer section*/
.home-offer-section{
    padding: 50px 0px;
}
.offer-top{
    display: flex;
    justify-content: center;
    text-align: center;
}
.offer-head{
    max-width:700px;
}
.offer-sub{
    color: #FF6F61;
    font-weight: 700;
}
.offer-title{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 500;
}
.offer-main-section{
    margin-top: 25px;
}
.offer-image{
    width: 100%;
    border-top-right-radius: 230px;
    border-top-left-radius: 200px;
    padding: 0px 50px 50px 0px;
}
.offer-card{
    position: relative;
}
.sign-div{
    position: absolute;
    bottom: 0;
    right: 0;
}
@media(max-width:992px){
    .offer-title{
        font-size: 40px;
    }
}
@media(max-width:768px){
    .offer-title{
        font-size: 35px;
    }
}
@media(max-width:576px){
    .offer-title{
        font-size: 25px;
    }
    .sign-img{
        width: 140px;
    }
}

/*home service section*/
.home-service-section{
    padding: 50px 0px;
}
.service-head{
    display: flex;
    align-items: center;
    gap: 150px;
    margin-bottom: 25px;
}
.service-sub{
    color: #FF6F61;
    font-weight: 700;
}
.service-title{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 500;
}

.service-card{
    padding-right: 65px;
    border-right: 1px solid #d3d3d3;
    margin-bottom: 30px;
}
.service-name{
    font-family: 'Playfair Display', serif;
    list-style: none;
    text-decoration: none;
    color:#0e0e0e;
    font-size: 25px;
    font-weight: 600;
}
.service-name:hover{
    color: #FF6F61;
    transition: 1s ease;
}
.read-more{
    border: none;
    background: none;
    font-weight: 600;
    font-size: 18px;
}
.read-more:hover{
    color: #FF6F61;
    transition: 1s ease;
}
@media(max-width:992px){
    .service-head{
        display: flex;
        align-items: center;
        gap: 70px;
        margin-bottom: 25px;
    }
    .service-title{
        font-size: 40px;
    }
    .service-card{
        border: none;
    }
}
@media(max-width:768px){
    .service-head{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 25px;
    }
    .service-title{
        font-size: 30px;
    }
    .service-name{
        font-size: 22px;
    }
}
@media(max-width:576px){
    .service-head{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 25px;
    }
    .service-card{
        padding-right: 0px;
    }
    .read-more{
        font-size: 16px;
    }
}

/*home about section*/
.home-about-section{
    background-color: #FFF6EF;
    padding: 100px 0px;
    position: relative;
}
.about-side-img{
    position: absolute;
    top: 0;
    left: 0;
}

.home-about-img{
    width: 100%;
}
.about-left{
    position: relative;

}
.about-sign-img{
    position: absolute;
    left: -80px;
    top: 40%;
}

.about-right{
    padding-left: 50px;
}
.about-sub{
    color: #FF6F61;
    font-weight: 700;
}
.home-about-title{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 600;
}

.home-aboutcall-info{
    display: flex;
    align-items: center;
    gap: 30px;
}
.about-btn{
    background: #ff5c71;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
}
.about-call-content{
    display: flex;
    gap: 20px;
}
.about-phone-icon{
    border: 1px solid #d3d3d3;
    background-color: #fff;
    color: #FF6F61;
    width: fit-content;
    padding: 10px 13px 10px 15px;
    border-radius: 50%
}
.about-contact-no{
    text-decoration: none;
    color: #0e0e0e;
    font-weight: 600;
}
.about-contact-no:hover{
    cursor: pointer;
    color: #ff5c71;
}
@media(max-width:992px){
    .about-sign-img{
        position: absolute;
        left: -30px;
        top: 40%;
    }
    .about-right{
        padding-left: 0px;
    }
    .about-right{
        margin-top: 50px;
    }
}
@media(max-width:768px){
    .about-sign-img{
        position: absolute;
        left: -30px;
        top: 40%;
    }
    .about-right{
        padding-left: 0px;
    }
    .home-about-title{
        font-size: 30px;
    }
}
@media(max-width:576px){
    .home-about-section{
        padding: 50px 0px;
    }
    .about-sign-img{
        position: absolute;
        left: -10px;
        top: 40%;
        width: 20%;
    }
    .about-right{
        padding-left: 0px;
    }
    .home-about-title{
        font-size: 25px;
    }
    .home-aboutcall-info{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .about-btn{
        padding: 10px 20px;
        font-size: 13px;
    }
}


/*home shop section*/
.home-shop-section{
    padding: 80px 0px;
}
.home-shop-head{
    text-align: center;
}
.shop-sub{
    color: #FF6F61;
    font-weight: 700;
}
.shop-title{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 45px;
}

.home-shop-main{
    margin-top: 50px;
}
.product-img-div{
    position: relative;
    background-color: #F3F3F3;
    border-radius: 10px;
    text-align: center;
    padding: 45px 0px;
}
.home-product-icon{
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 20%;
    display: flex;
    justify-content: center;
    gap: 25px;
    transition: 0.6s ease;
}
.home-product-icon button{
    font-size: 25px;
    border: 1px solid #ff5c71;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    line-height: 0;
}
.home-product-card:hover .home-product-icon{
    opacity: 1;
}
.home-productinfo-box{
    margin-top: 20px;
    text-align: center;
}
.home-product-name{
    text-decoration: none;
    color: #0e0e0e;
}
.home-product-name:hover{
    color: #FF6F61;
}
.hproduct-price{
    color: #555;
    font-size: 20px;
    font-weight: 600;
}
@media(max-width:992px){
    .shop-title{
        font-size: 35px;
    }
    .home-product-card{
        margin-bottom: 25px;
    }
}
@media(max-width:768px){
    .shop-title{
        font-size: 30px;
    }
    .home-product-name{
        text-decoration: none;
        font-size: 20px;
    }
    .hproduct-price{
        color: #555;
        font-size: 16px;
    }
}
@media(max-width:576px){
    .home-shop-section{
        padding: 50px 0px;
    }
   .shop-title{
        font-size: 25px;
    }
}

/*home gallery section*/
.home-gallery-section{
    padding: 50px 0px;
}
.home-gallery-head{
    text-align: center;
}
.gallery-sub{
    color: #FF6F61;
    font-weight: 700;
}
.gallery-title{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 45px;
}
.gallery-main-section{
    padding: 30px 0px;
}
.gallery-img{
    width: 100%;
    border-radius: 8px;
}
.gallery-card{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 25px;
}
.gallery-overlay{
    opacity: 0;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 25px;
    transition: 0.5s ease;
}
.gallery-overlay p{
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.gallery-overlay h3{
    font-weight: 600;
}
.gallery-card:hover .gallery-overlay{
    opacity: 1;
    cursor: pointer;
}
.gallery-arrow-btn{
    border: none;
    background-color: #ff5c71;
    border-radius: 50%;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    padding: 14px;
    line-height: 0px;
}
/*gallery swiper*/
.gallery-modal{
    position: fixed;
    inset: 0;
    z-index: 9999;
}
.gallery-modal-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.8);
}
.gallery-modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}
.gallery-swiper-img{
    width: 950px;
    height: 100%;
    object-fit: contain;
}
.close-btn {
    position: absolute;
    right: 15px;
    border-radius: 50%;
    background: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 18px;
    cursor: pointer;
    z-index: 999;
}

@media (max-width: 992px) {
    .gallery-title{
        font-size: 35px;
    }
    .gallery-overlay {
        position: relative;
        background: none;
        color: #0e0e0e;
        opacity: 1;
        padding: 20px 0px 0px 0px;
        
    }
}
@media(max-width: 576px){
    .gallery-title{
        font-size: 25px;
    }
    .gallery-overlay h3{
        font-size: 20px;
    }
}

/*home price section*/
.home-price-section{
    padding: 100px 0px;
    background-color: #FFF6EF;
}
.home-price-head{
    text-align: center;
}
.price-sub{
    color: #FF6F61;
    font-weight: 700;
}
.price-title{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 45px;
}
.price-main-section{
    margin-top: 30px;
}
.home-price-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    background-color: #fff;
    padding: 35px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
}
.price-item-card{
    display: flex;
    align-items: center;
    gap: 20px;
}
.price-item-img{
    width: 100px;
    border-radius: 10px;
}
.item-name-price{
    display: flex;
    gap: 150px;
}
.item-name{
    display: flex;
    align-items: center;
    gap: 150px;
    font-size: 25px;
    font-weight: 600;
}
.item-price{
    color: #ff5c71;
    font-size: 20px;
    font-weight: 600;
}
@media(max-width:992px){
    .price-title{
        font-size: 30px;
    }
    .price-item-card{
        display: flex;
        flex-direction: column;
        align-items:start;
        gap: 15px;
    }
    .item-name-price{
        display: flex;
        flex-direction: column;
        gap :0px;
    }
    .item-name{
        font-size: 20px;
    }
}
@media(max-width:768px){
    .home-price-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width:576px){
    .home-price-section{
        padding: 50px 0px;
    }
    .price-title{
        font-size: 25px;
    }
}

/*home team section*/
.home-team-section{
    padding: 50px 0px;
}
.home-team-head{
    text-align: center;
}
.team-sub{
    color: #FF6F61;
    font-weight: 700;
}
.team-title{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 45px;
}

.team-main-section{
    margin-top: 30px;
}
.home-team-card.offset{
    margin-top: 50px;
}
.team-image-content{
    position: relative;
}
.home-team-image{
    width: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.home-team-icon{
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.6s ease;
}
.home-team-icon button{
    border: none;
    background-color: #fff;
    border: 1px solid #FF6F61;
    border-radius: 50%;
    line-height: 0;
    padding: 8px;
    font-size: 18px;
}
.home-team-card:hover .home-team-icon{
    opacity: 1;
}
.home-team-icon button:hover{
   background-color: #FF6F61;
   color: #fff;
   transition: 0.6s ease;
}
.home-team-info{
    padding: 20px 0px;
    text-align: center;
}
.team-name{
    font-weight: 600;
}
.team-role{
    color: #555;
    font-weight: 500;
}

@media(max-width:1400px){
    .home-team-icon{
        opacity: 0;
        position: absolute;
        top: 22%;
        left: 10%;
        gap: 6px;
    }
}
@media(max-width:992px){
    .team-title{
        font-size: 35px;
    }
    .home-team-card.offset{
        margin-top: 0px;
    }
    .team-name{
        font-size: 22px;
    }
    .home-team-icon{
        opacity: 0;
        position: absolute;
        top: 30%;
        left: 10%;
        gap: 15px;
    }
}
@media(max-width:768px){
    .team-title{
        font-size: 30px;
    }
    .team-name{
        font-size: 20px;
    }
    .home-team-icon{
        opacity: 0;
        position: absolute;
        top: 22%;
        left: 10%;
        gap: 10px;
    }
}
@media(max-width:576px){
    .team-title{
        font-size: 25px;
    }
    .home-team-icon{
        opacity: 0;
        position: absolute;
        top: 25%;
        left: 10%;
        gap: 10px;
    }
}

/*home fact section*/
.home-fact-section{
    padding: 50px 0px;
}
.fact-box{
    text-align: center;
}
.fact-box h2{
    font-size: 65px;
}
.fact-box h2:hover{
    color: #FF6F61;
}
.fact-box p{
    color: #555;
    font-size: 20px;
}
@media(max-width:576px){
    .fact-box h2{
        font-size: 45px;
    }
    .fact-box p{
        color: #555;
        font-size: 16px;
    }
}

/*home testimonails section*/
.home-testimonials-section{
    background-color: #FFF6EF;
    padding: 80px 0px;
    position: relative;
}
.testmonails-head{
    text-align: center;
}
.testimonials-sub{
    color: #FF6F61;
    font-weight: 700;
}
.testimonials-title{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 45px;
}
.testimonials-swiper-section{
    text-align: center;
    margin-top: 50px;
}
.testimonail-info{
    display: flex;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.qoutes{
    color: #FF6F61;
    font-size: 35px;
}
.testimonial-text{
    font-size: 25px;
    color: #555;
    font-weight: 500;
}
.testimonial-thumb-swiper {
    width: fit-content;  
    margin: 0 auto;
}

.testimonial-thumb-swiper .swiper-slide {
    width: auto !important; 
    display: flex;
    justify-content: center;
}
.testimonial-thumb-swiper img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(0.8);
    transition: all 0.3s ease;
}
.testimonial-thumb-swiper .swiper-slide-thumb-active img {
    transform: scale(1.0);
}
.t-shap1{
    position: absolute;
    bottom: 0;
    left: 0;
}
.t-shap2{
    position: absolute;
    bottom: 30%;
    right: 5%;
}
@media(max-width:992px){
    .testimonials-title{
        font-size: 35px;
    }
    .testimonail-info{
        display: flex;
        width: 700px;
    }
    .testimonial-text{
        font-size: 20px;
        color: #555;
        font-weight: 500;
    }
}
@media(max-width:768px){
    .testimonials-title{
        font-size: 30px;
    }
    .testimonail-info{
        display: flex;
        width: 550px;
    }
}
@media(max-width:576px){
    .home-testimonials-section{
        padding: 50px 0px;
    }
    .testimonials-title{
        font-size: 25px;
    }
    .testimonail-info{
        display: flex;
        width: 400px;
    }
    .testimonial-text{
        font-size: 18px;
        color: #555;
        font-weight: 500;
    }
    .testimonial-thumb-swiper img {
        width: 80px;
        height: 80px;
    }
}
@media(max-width:480px){
    /* .testimonials-title{
        font-size: 30px;
    } */
    .testimonail-info{
        display: flex;
        width: 300px;
    }
    .testimonial-text{
        font-size: 18px;
        color: #555;
        font-weight: 500;
    }
}

/*home pertner section*/
.home-partner-section{
    padding: 50px 0px;
}
.partner-head{
    text-align: center;
    color: #555;
}
.partner-item{
    display: flex;
    justify-content: center;
}

/*home appointement section*/
.home-appointment-section{
    padding: 50px 0px;
    position: relative;
}
.appoint-sub{
    color: #ff5c71;
    font-weight: 700;
}
.appoint-title{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
}

.home-appointment-form{
    margin-top: 50px;
}
.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.form-group {
    flex: 1;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px 14px;
    background-color: #F3F3F3;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
}
.form-group textarea {
    resize: none;
}
.book-btn{
    background-color: #ff5c71;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 25px;
}
.appointment-img{
    width: 100%;
}
.appoint-sign-img{
    position: absolute;
    right: 0;
    top: 40%;
}
@media(max-width:992px){
    .appoint-title{
        font-family: 'Playfair Display', serif;
        font-size: 35px;
    }
    .home-appointemnt-left{
        margin-bottom: 50px;
    }
    .appoint-sign-img{
        position: absolute;
        right: 0;
        top: 60%;
    }
}
@media(max-width:768px){
    .appoint-title{
        font-family: 'Playfair Display', serif;
        font-size: 30px;
    }
    .appoint-sign-img{
        position: absolute;
        right: 0;
        top: 60%;
    }
    .home-appointment-form{
        margin-top: 25px;
    }
    .book-btn{
        padding: 10px 20px;
    }
    .appoint-sign-img{
        width: 200px;
    }
}
@media(max-width:576px){
    .appoint-title{
        font-family: 'Playfair Display', serif;
        font-size: 25px;
    }
    .form-row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }
    .book-btn{
        padding: 8px 15px;
    }
    .appoint-sign-img{
        width: 150px;
        top: 70%;
    }
}

/*home newsletter section*/
.home-newsletter-section{
    padding: 50px 0px;
    background-color: #FFF6EF;
}
.newsletter-head{
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.newsletter-sub{
    color: #ff5c71;
    font-weight: 700;
}
.newsletter-title{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
}

.newsletter-main-section{
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.email-input{
    flex: 1;
    width: 100%;
    border: 1px solid #ff5c71;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0px 15px;
}
.subscribe-btn{
    background-color: #ff5c71;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 18px 25px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
@media(max-width:992px){
    .newsletter-title{
        font-family: 'Playfair Display', serif;
        font-size: 35px;
    }
}
@media(max-width:768px){
    .newsletter-title{
        font-family: 'Playfair Display', serif;
        font-size: 30px;
    }
}
@media(max-width:576px){
    .newsletter-title{
        font-family: 'Playfair Display', serif;
        font-size: 25px;
    }
    .newsletter-main-section{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 25px;
    }
    .email-input{
        flex: 0;
        width: 100%;
        border: 1px solid #ff5c71;
        border-radius: 8px;
        padding: 10px 15px;
    }
    .subscribe-btn{
        width: 150px;
        border-radius: 8px;
        padding: 10px 10px;
    }
}

/*contactus page*/
.contactus-hero-section{
    padding: 80px 0px;
    background-color: #FFF6EF;
    position: relative;
}
.page-hero-left h2{
    font-size: 40px;
    font-weight: 600;
}
.home-navigation{
    display: flex;
    align-items: center;
    gap: 10px;
}
.home-link{
    text-decoration: none;
    color: #0e0e0e;
    font-size: 18px;
}
.pages-title{
    color: #ff5c71;
    font-size: 18px;
}
.page-hero-right{
    text-align: end;
}
.hero-page-img{
    /* width: 100%; */
    position: relative;
    z-index: 2;
}
.hero-shap1{
    position: absolute;
    top: 30%;
    left: 45%;
}
.hero-shap2{
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 1;
}

.contact-info-card{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #F3F3F3;
    padding: 35px;
    border-radius: 10px;
}

.contactus-page-section{
    padding: 50px 0px;
}
.contact-info-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.ccard-icon{
    background-color: #000000;
    color: #fff;
    border-radius: 50%;
    padding: 18px;
    line-height: 0;
    font-size: 25px;
}
.contact-info h3{
    font-size: 20px;
    font-weight: 600;
}
.contact-info p{
    margin: 0px;
    color: #555555;
}

.contactus-form-container{
    margin-top: 80px;
}
.contactform-head{
    text-align: center;
}
.contact-sub{
    color: #ff5c71;
    font-weight: 700;
}
.contact-form-title{
    font-size: 40px;
}
.appointment-form{
    margin-top: 25px;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 2px  4px rgba(0,0,0,0.4);
}
.appoinmnt-form-row{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.a-form-group{
    flex: 1;
}
.a-form-group input,
.a-form-group textarea {
    width: 100%;
    padding: 12px 14px;
    background-color: #F3F3F3;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
}
.message-button{
    display: flex;
    justify-content: center;
}
.message-btn{
    background-color: #ff5c71;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 25px;
}
@media(max-width:1200px){
    .contact-info-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        align-items: center;
    }
}
@media(max-width:992px){
    .page-hero-left h2{
        font-size: 35px;
    }
    .page-hero-right{
        text-align: start;
        margin-top: 30px;
    }
    .contact-info-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
    }
    .contact-form-title{
        font-size: 35px;
    }
}
@media(max-width:768px){
    .contact-info-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
    }
    .contact-form-title{
        font-size: 30px;
    }
}
@media(max-width:576px){
    .page-hero-left h2{
        font-size: 30px;
    }
    .hero-page-img{
        width: 100%;
    }
    .contact-info-card{
        padding: 20px;
    }
    .ccard-icon{
        background-color: #000000;
        color: #fff;
        border-radius: 50%;
        padding: 14px;
        line-height: 0;
        font-size: 20px;
    }
    .contact-info h3{
        font-size: 18px;
        font-weight: 600;
    }
    .appointment-form{
        padding: 30px;
    }
    .appoinmnt-form-row{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }
    .contact-form-title{
        font-size: 25px;
    }
    .message-btn{
        padding: 8px 18px;
    }
}

/*register page*/
.register-hero-section{
    padding: 80px 0px;
    background-color: #FFF6EF;
    position: relative;
}

.register-page-section{
    padding: 100px 0px;
}
.register-title{
    text-align: center;
    margin-bottom: 25px;
}
.register-content{
    display: flex;
    justify-content: center;
}
.register-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"]{
    width: 100%;
    padding: 14px 14px;
    background-color: #F3F3F3;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 8px;
}
.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.form-check-label {
  font-size: 14px;
  color: #555;
}
.register-btn{
    background-color:#ff5c71;
    color: #fff;
    border: none;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 8px;
}
.login-page-navigate{
    margin-top: 30px;
    text-align: center;
}
.login-link{
    text-decoration: none;
    color: #ff5c71;
}
@media(max-width:576px){
    .register-btn{
        background-color:#ff5c71;
        color: #fff;
        border: none;
        font-weight: 700;
        padding: 10px 10px;
        border-radius: 8px;
    }
}

/*login page*/
.login-hero-section{
    padding: 80px 0px;
    background-color: #FFF6EF;
    position: relative;
}

.login-page-section{
    padding: 100px 0px;
}
.login-title{
    text-align: center;
    margin-bottom: 25px;
}

.login-content{
    display: flex;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"]{
    width: 100%;
    padding: 14px 14px;
    background-color: #F3F3F3;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 8px;
}
.login-raido-forget{
    display: flex;
    justify-content: space-between;
}
.forget-link{
    text-decoration: none;
    color:#555555;
}
.login-btn{
    margin-top: 20px;
    background-color:#ff5c71;
    color: #fff;
    border: none;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 8px;
}
.register-link{
    text-decoration: none;
    color: #ff5c71;
}
@media(max-width:576px){
    .login-raido-forget{
        display: flex;
        flex-direction: column;
    }
}